
$color-primary: rgb(196, 0, 0);
$color-secondary: rgb(255, 153, 0);
$color-tertiary: rgb(255, 252, 78);
$color-light: rgb(250, 245, 239);
$color-grey-1: rgb(187, 181, 174);
$color-primary-dark: rgb(139, 0, 0);



$line-height-normal: 1.6;