.item {
    /* width: 90%; */
    display: flex;
    align-items: center;
    background-color: rgba($color-light, 0.2);
    margin: 0.5rem;

    & > * {
        margin-left: 0.75rem;
        /* border: 1px solid grey; */
        padding: 0.25rem 0.5rem;
        background-color: $color-light;
        flex: 0 1 auto;
    }

    /* &__checkbox--btn {
        display: flex;
        align-items: center;
    } */

    &__urgency {
        
    }

    &__name {
        flex: 1 1 auto;
    }

    &__tags {
        
    }

    &__dateFrom,
    &__dateUntil {
        
    }

    &__daysRemaining {
        
    }

    &__delete--btn,
    &__edit--btn {
        
    }
    

}