.taskForm {
    margin: 3rem 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    
    & > * {
        margin-left: 0.75rem;
        padding: 0.25rem 0.5rem;
        flex: 0 1 auto;
    }
  
    &__name {
        margin-left: 0;
        flex: 1 1 40%;
    }

    &__tag {
        flex: 0 1 20%;
    }

    &__person {
       
    }

    &__date--until {
        
    }

    &__urgency {
        
    }

    &__add-btn {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

